<header class="intro">
  <div id="particles-js">
      <div class="header">
          <h1>
              <span class="site-title">{{ site.username }}</span>
              <span class="typewrite site-description" data-period="2250"
                    data-type='["$RDT is the first cashback utility token exclusively on Radix DLT", "Cashback", "radixDLT", "node", "rv1qtm3z8ryf9czeal3unuknedurpxd2lxvz48umryrrznw5queawet28atjna", "Radically Different DeFi", "Unlimited Scalability"]'>
                <span class="wrap"></span>
              </span>
              <br>
          </h1>
          <div class="header-icons">
                <a aria-label="Twitter" target="_blank" href="https://twitter.com/radix_radiator"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
  			        <a aria-label="Telegram" target="_blank" href="https://t.me/radix_radiator"><i class="icon fa fa-telegram" aria-hidden="true"></i></a>
  			        <a aria-label="Send email" href="mailto:info@radiator.run"><i class="icon fa fa-envelope"></i></a>
          </div>
      </div>
      <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>
</header>
