<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords content="radixdlt, radix, xrd, coinmarketcap, ociswap, delphibets, radiator, token, defi, bitcoin, ethereum, validator, stake, staking, cerberus, ledger, blockchain"/>
  <meta name="revised" content="radiator, date_last_edited: 30/08/2022"/>
  <meta name="author" content="radiator"/>


  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ '/assets/css/timeline.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/navbar.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/copytoclipboard.css' | prepend: site.baseurl }}">


  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.ico' }}">
  {% seo %}
</head>
