<div id="particles-js">
    <div class="header">
        <h1>
            <span class="site-title">{{ site.username }}</span>
            <span class="typewrite site-description" data-period="2250"
                  data-type='["radixDLT", "node", "rv1qtm3z8ryf9czeal3unuknedurpxd2lxvz48umryrrznw5queawet28atjna", "Radically Different DeFi", "Unlimited Scalability"]'>
              <span class="wrap"></span>
            </span>
        </h1>
        <div class="header-icons">
            <a aria-label="Send email" href="mailto:info@radiator.com"><i class="icon fa fa-envelope"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/radiat0r"><i
                    class="icon fa fa-github-alt" aria-hidden="true"></i></a>
            <!--<a aria-label="My Twitter" target="_blank" href="https://twitter.com/Adamouization"><i
                    class="icon fa fa-twitter" aria-hidden="true"></i></a>-->
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
