<div class="user-details-bis">
    <h1>Projects</h1>
    <div class="project-row">
        <div class="project-column">
            <h3>Validator</h3>
            <h4>Stake with us and get rewards<br></h4>
            <a href="https://www.radixdlt.com/#radix-staking" target="_blank">
                <img src="assets/img/staking.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="staking">
            </a>
            <!--<p>rv1qtm3z8ryf9czeal3unuknedurpxd2lxvz48umryrrznw5queawet28atjna<br><br><a
                    href="https://explorer.radixdlt.com/#/validators/rv1qtm3z8ryf9czeal3unuknedurpxd2lxvz48umryrrznw5queawet28atjna" target="_blank">how to stake</a></p>-->
        </div>
        <div class="project-column">
            <h3>Token</h3>
            <h4>radiator token<br></h4>
            <a href="https://explorer.radixdlt.com/#/tokens/radiator_rr1q0v0u5srmf8xhyw2wwpaz8at9wcusnrnmd8hs8kxd3qqgwyxhj" target="_blank">
                <img src="logo.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="token logo">
            </a>
            <p>Radiator tokens will be distributed to stakers by airdrops.</p>
        </div>
        <div class="project-column">
            <h3>Bonus-System</h3>
            <h4>a payback token</h4>
            <a href="https://test.com/" target="_blank">
                <img src="assets/img/bonus.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="bonus">
            </a>
            <!--<p>Graduated with Honours</p>-->
        </div>
    </div>
</div>