<div class="user-details-bis">
    <h1>Projects</h1>
    <div class="project-row">
        <div class="project-column">
            <h3>Validator</h3>
            <h4>Stake with us and get rewards<br><br></h4>
            <a href="https://www.radixdlt.com/#radix-staking" target="_blank">
                <img src="assets/ikonate/extension.svg" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="staking">
            </a>
            <p><a href="https://explorer.radixdlt.com/#/validators/rv1qtm3z8ryf9czeal3unuknedurpxd2lxvz48umryrrznw5queawet28atjna" target="_blank">validator address</a></p>		
        </div>
        <div class="project-column">
            <h3>Token</h3>
            <h4>radiator token<br><br></h4>
            <a href="https://explorer.radixdlt.com/#/tokens/rdt_rr1qwencdmhktehqfcha2yp3sxghqlzyf5eplkf4ac8dvdq5k8pka" target="_blank">
                <img src="assets/ikonate/dolar.svg" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="token">
            </a>
            <p>Radiator tokens will be distributed to stakers by airdrops.</p>
        </div>
        <div class="project-column">
            <h3>Bonus-System</h3>
            <h4>a payback token<br><br></h4>
            <a href="https://test.com/" target="_blank">
                <img src="assets/ikonate/diamond.svg" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="bonus">
            </a>
            <p>a project still to come</p>
        </div>
    </div>
</div>