<div class="user-details">
    <h1>why stake with us?</h1>
    <p>
        We are a german community run radix validator node with 0% fees. Our aim is to contribute to a decentralized financial system. The node runs on a 24/7 monitored ESXi Cluster with automatic backups and zero downtime. 
		To optimize updates and possible downtimes, we always have a backup node up and running.
		<br><br>
		Early stakers will receive airdrops of our own native token!
		<br><br>
		We are working on some dapp ideas, which will be announced soon - stay tuned!
		<br><br>
		
		<figure class="highlight"><pre><code class="language-python" data-lang="python" id="code16">
		<span class="k">rv1qtm3z8ryf9czeal3unuknedurpxd2lxvz48umryrrznw5queawet28atjna</span> 
		</code></pre></figure>
		
		
		  <figure class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="kd">let</span> <span class="nx">message</span> <span class="o">=</span> <span class="nb">document</span><span class="p">.</span><span class="nx">createElement</span><span class="p">(</span><span class="s1">'div'</span><span class="p">);</span></code></pre></figure>
		  
    </p>
</div>