<div class="tokenomics">
	<h1>100.000.000 RADIATOR</h1>
  <canvas id="tokenomicsChart"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [
    'Team',
    'Airdrops',
    'Presale',
	'Consulting',
	'Rewards',
	'Marketing'
  ];


  const data = {
    labels: labels,
    datasets: [{
		label: 'Tokenomics of the Radiator Coin',
		data: [10, 20, 20, 20, 20, 10],
		hoverBorderColor: '#458bff',
		backgroundColor: [
			'#311155',
			'#211C7C',
			'#4581AF',
			'#60A6BD',
			'#98D7CF',
			'#D2EFE0'
		],
    hoverOffset: 24
    }]
  };


  
  const config = {
    type: 'doughnut',
    data: data,
	plugins: {},
    options: {
        plugins: {
            legend: {
                display: true,
                labels: {
                    color: '#D2EFE0'
                }
            }
        }
	}
  };

  const tokenomicsChart = new Chart(
    document.getElementById('tokenomicsChart'),
    config
  );
</script>