* {margin: 0; padding: 0;}

pre1 {
 display:block;
 padding:0px;
 margin:0 0 10px;
 font-size:20px;
 line-height:1.5;
 word-break:break-all;
 word-wrap:break-word;
 background-color:#2a57a1;
 border-radius:4px
}
pre1 code {
 padding:0;
 font-size:inherit;
 color:inherit;
 white-space:pre1-wrap;
 background-color:transparent;
 border-radius:0
}
.pre1-scrollable {
 max-height:340px;
 overflow-y:scroll
}
.container {
 padding-right:10px;
 padding-left:10px;
 margin-right:auto;
 margin-left:auto
}

.highlight > pre1 > div{
  display: flex;
  flex-direction: row-reverse;
}
.btn-copy{
  color: #FFF;
  background-color: rgba(255,255,255,.3);
  border: 0;
  padding: 5px 5px;
  cursor: pointer;
}
.btn-copy:hover{
  background-color: rgba(255,255,255,.5);
}

.highlight {
  background-color: #2a57a1;
  border-left: 1.0em solid rgba(255,255,255,.3);
  padding: 0 0 1em 1em;
  margin: 1em;
  overflow-x: auto;
  white-space: nowrap;
}

.highlight, .highlight .w {
  color: #00C389;
  background-color: #2a57a1;
}
