/*
 * Custom CSS classes to modify theme and library stylesheets.
 * Author: radiator
 */

 body {
  background: rgb(42,87,161);
  background: -moz-linear-gradient(90deg, rgba(42,87,161,1) 36%, rgba(42,87,161,0.8631653344931722) 50%, rgba(42,87,161,1) 63%);
  background: -webkit-linear-gradient(90deg, rgba(42,87,161,1) 36%, rgba(42,87,161,0.8631653344931722) 50%, rgba(42,87,161,1) 63%);
  background: linear-gradient(90deg, rgba(42,87,161,1) 36%, rgba(42,87,161,0.8631653344931722) 50%, rgba(42,87,161,1) 63%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a57a1",endColorstr="#2a57a1",GradientType=1);
  color: #fff;
 }

/* Create three equal columns that floats next to each other */
div.project-column {
    float: left;
    width: 33.33%;
    padding: 0px;
    text-align: justify;
    border-radius:10px;
    padding: 15px;
}

/* Clear floats after the columns */
div.project-row:after {
    content: "";
    display: table;
    clear: both;
}

div.project-row h3{
    text-align: center;
}

div.bonus {
  text-align: justify;
  font-size: 16px;
}

div.bonus h1 {
  text-align: center;
}

.header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media only screen and (min-width: 768px) {
    .header .site-title {
        margin: 0;
        font-size: 70px
    }
}

.header .site-title {
    font-size: 50px;
    display: block;
    line-height: 1;
    color: #fff
}



.header .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px
}

.header-icons, .project-icons {
    display: flex;
    justify-content: center;
    text-align: center
}

.header-icons a {
    outline: 0 !important;
    border: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important
}

.down, .header-icons, .project-icons, .icon {
    color: #fff;
    text-align: center
}

.header-icons .icon {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: all .5s;
    width: 20px;
    font-size: 20px;
    margin: 5px;
    border: 2px solid #fff
}

.project-icons .icon {
    display: inline-block;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    transition: all .5s;
    width: 50px;
    font-size: 25px;
    margin: 5px;
    border: 2px solid #fff
}

.text--highlight {
 color:#00C389
}

.header-icons .icon:active, .header-icons .icon:hover, .project-icons .icon:active, .project-icons .icon:hover {
    color: #1a222c;
    background: #fff
}

@media only screen and (min-width: 768px) {
    .header-icons .icon {
        width: 35px;
        height: 35px;
        font-size: 30px
    }
}

.down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    cursor: pointer;
    outline: 0 !important;
    border: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important
}

.down .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite
}

.down .icon:active, .down .icon:hover, .footer a:active, .footer a:hover {
    color: #4b5664
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-telegram:before {
    content: "\f2c6"
}

.fa-twitter:before {
    content: "\f099"
}

.fa-refresh:before {
    content: "\f021"
}

.fa-usd:before {
    content: "\f155"
}

.fa-database:before {
    content: "\f1c0"
}

.fa-chevron-down:before {
    content: "\f078"
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

.fa {
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


@keyframes pulse {
    0%, to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px;
    }
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .project-column {
        width: 100%;
    }
}

.tech {
    margin: 10px;
    flex: 1 1 0;
    text-align: justify;
}

.tech h2, .tech h3, .user-details h1, body {
    font-weight: 400;
    text-align: center;
}

.user {
    text-align: center;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.stake {
  font-size: 16px;
  text-align: justify;
}

.stake h1 {
  text-align: center;
}

.stake h3 {
  text-align: center;
}

.user p {
    font-size: 16px
}

.work-text {
    padding-left: 10px;
    padding-right: 10px;
}

/* HR lines */
hr.gradient-line { /* used between website sections */
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.dashed-line { /* used between projects */
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Third type of content div (for project-info experiences) */
.user-details-bis {
    text-align: center;
    margin: 5px auto
}
.user-details-bis h1, body {
    font-weight: 400
}
.user-details-bis p {
    font-size: 16px;
}
.user-details-bis h2 {
    font-weight: 400;
}

.tokenomics{
	text-align: center;
    margin: 30px auto
}

#particles-js {

    display: flex;
    vertical-align: bottom;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

#particles-js .particles-js-canvas-el {
    height: 100vh !important
}

img {
    max-width: 100%;
    max-height: 100%;
}
